<!doctype html>
<html lang="en">
<head>
</head>
<body>
  <section id="profile">
  <nav id="desktop-nav">
    <div>
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
<div class="profile-body">
  <div class="pic-body">
    <div class="section_text">
    <img src="/assets/profile-pic.jpg" class="picture">
    
      <p class="section_text_p1">Hello, I'm</p>
      <h1 class="title">KODEM SAI TEJ</h1>
      <p class="section_text_p2">Software Engineer</p>
      <div class="btn-container">
        <button class=" btn btn-color-1">Download CV</button>
        <a href="#contact"><button  class=" btn btn-color-2" >Contact Info</button></a>
        
      </div>
    </div>

  </div>
    <div class="about-text">
      <h1 class="title-about">About Me</h1>
      <p class="text_p1">A highly skilled web-based developer with extensive professional and academic experience across the entire Software Development Life Cycle (SDLC), 
        encompassing analysis, design, development, and testing, particularly within Angular-centric environments. 
        Proficient in designing and implementing Service-Oriented Architectures (SOA) utilizing RESTful services and possessing a strong foundation in Object-Oriented Concepts (OOP). 
        Demonstrated success in applying agile methodologies and test-driven development to deliver robust web applications. 
        Adept at enhancing user experience through code automation and feature implementation, 
        coupled with strong expertise in MySQL database design and effective application debugging.</p>

        <div class="cards">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Experience</h5>
              <h6 class="card-subtitle">2+ years</h6>
              <p class="card-text">Software Engineer</p>
              
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Education</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Aerospace Engineering</h6>
              <p class="card-text">M.Se. Masters Degree</p>
             
            </div>
          </div>
        </div>
    </div>

    

</div>

</section>
<section id="experience">
 

<div class="description-wrapper">
  <input type="checkbox" id="toggle-description" hidden>
  <div class="description">
    <label for="toggle-description" class="description-header"><h3>Professional Experience</h3></label>
    <div class="description-content">
      <p>Designed and implemented the user interface using OOJS, Angular, HTML, and CSS. </p>
      <p>Responsible for building single-page applications using Angular. </p>
      <p>Used Bootstrap, CSS, and media queries to create rich UI Modules.</p>
      <p>Used MYSQL to manage data.</p>
      <p>Worked with unit test for accuracy of code. </p>
      <p>Worked on Web Application Development.</p>
      <p>Involved in automation of existing code to provide new features and improve user experience.</p>
      <p>Strong experience in designing and working with MySQL.</p>
      <p>Involved in gathering client requirements and writing documentation of the projects/changes made to the project. </p>
      <p>Used GIT for version control to keep track of changes for the code. </p>

    </div>
  </div>
</div>
<div class="experience-details">
    <div class="about-containers">
        <h2 class="experience-title">Frontend Development</h2>
        <div class="article-container">
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>HTML</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>CSS</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>AJAX</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>jQUERY</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>Bootstrap</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>RESTful</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>JSON</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>XML</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>JSON</h3>
              <p>Experience</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>TypeScript</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>Node.js</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>Embedded JavaScript</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img src="/assets/checklist.png" alt="Experience icon" class="icon">
            <div>
              <h3>Jasmine</h3>
              <p>Experienced</p>
            </div>
          </article>

        </div>
    </div>
</div>

<section id="projects">
  <h1 class="title-project">Projects</h1>
  <div class="project-details">
    <div class="project-img">
      <img src="/assets/e-commerce.jpg" class="project-picture">
    </div>
    <h2 class="experience-project1">E-commerce</h2>
    <div class="project-btn">
      <button class="btn-click-project" onclick="location.href='https://github.com/Skodem9/E-commerce'">GitHub</button>
    </div>
  </div>

</section>

</section>
<section id="contact">
  <div class="contact-info">
    <h2 class="contact-text">Contact Me</h2>
    <div class="contact-details">
      <div class="gmail">
       
      <p> <img src="/assets/mail.png" class="gmail-logo"><a href="mailto:saitejkodem11@gmail.com">saitejkodem11&#64;gmail.com</a></p>
     </div>
    
     <div class="linkedin">
      <p><img src="/assets/linkedin-logo.png" class="gmail-logo"><a href="https://www.linkedin.com/in/saitej-kodem-7844a1157/">LinkedIn</a></p>
    </div>
    </div>
  </div>
  
</section>

</body>
</html>
